html {
  margin-top: 0 !important;
  margin: 0 !important;
}

body {
  overflow-x: hidden;
  margin: 3;
}

body .app-start .main-row .main-col-1 .site-side {
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #c8d6e1;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app-start .main-row .main-col-1 .site-side .font-weight-bold {
  font-weight: bolder;
}

body .app-start .main-row .main-col-1 .site-side * {
  color: #f5fdfe;
}

body .app-start .main-row .main-col-1 .site-side .site-icon-disp {
  margin: 15px 0;
  min-height: 150px;
  min-width: 150px;
  background: #fff;
  border-radius: 50%;
}

body .app-start .main-row .main-col-1 .site-side .menu {
  padding: 2em 0;
}

body .app-start .main-row .main-col-1 .site-side .menu ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

body .app-start .main-row .main-col-1 .site-side .menu ul li:hover button, body .app-start .main-row .main-col-1 .site-side .menu ul li.current_page_item button {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  color: var(--bs-light);
  font-weight: bolder;
  background-color: var(--bs-secondary);
}

body .app-start .main-row .main-col-1 .site-side .menu ul li button {
  color: var(--bs-secondary);
}

@media (min-width: 1200px) {
  body .app-start .main-row .main-col-1 {
    width: 23%;
  }
  body .app-start .main-row .main-col-2 {
    width: 77%;
  }
}

@media (min-width: 1820px) {
  body .app-start .main-row .main-col-1 {
    width: 16.6666666667%;
  }
  body .app-start .main-row .main-col-2 {
    width: 83.3333333333%;
  }
}

@media (max-width: 1000px) {
  body .app-start .main-row .main-col-1 {
    position: fixed;
  }
  body .app-start .main-row .main-col-1 .site-side {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

body .min-height-100 {
  min-height: 100vh;
}

body .site-content {
  background: #fff;
}

body .site-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fafafa;
  z-index: 99;
}

body .site-header .container h5 {
  color: #32181d;
}

body .site-header .container p {
  color: #8a8987;
}

body .searchform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .site-footer {
  background: #213141;
  text-align: center;
  color: #6c757d;
}

body a {
  text-decoration: none;
}

body a:hover {
  text-decoration: underline !important;
}

body .post-entry * {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .post-entry .bg-white {
  overflow: hidden;
}

body .post-entry .bg-white .rounded {
  border-radius: 3px;
}

body .post-entry .row .container-image-holder {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body .post-entry .row .container-image-holder .image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

body .post-entry:hover .row .container-image-holder .image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .rounded-circle {
  border-radius: 50%;
}

body .rounded-circle.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
}

body .widgets-sidebar .widget {
  position: relative;
  padding: 1.5em 0;
}

body .widgets-sidebar .widget.SP_News_Widget .newspost-title {
  font-size: 18px;
  color: #000;
}

body .widgets-sidebar .widget:last-of-type {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

body .widgets-sidebar .widget h2.widget-title {
  font-size: 21px;
  padding: 0.6em 0em;
}

body .widgets-sidebar .widget ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

body .widgets-sidebar .widget .ecwd-widget-19 {
  overflow: hidden;
  border-radius: 7px;
}

body .widgets-sidebar .widget.widget_ecwd_widget {
  border-radius: 6px;
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-widget-mini.ecwd_calendar {
  width: 100%;
}

body .widgets-sidebar .widget.widget_ecwd_widget * {
  font-family: "Rubik", sans-serif !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd_theme_calendar
table.cal_blue.ecwd_calendar_container
.normal-day-heading,
body .widgets-sidebar .widget.widget_ecwd_widget .ecwd_theme_calendar
table.cal_blue.ecwd_calendar_container
.weekend-heading,
body .widgets-sidebar .widget.widget_ecwd_widget .ecwd_theme_calendar
table.cal_blue.ecwd_calendar_container
.day-with-date {
  border: none !important;
  font-weight: bold;
}

body .widgets-sidebar .widget.widget_ecwd_widget * {
  border: none !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

body .widgets-sidebar .widget.widget_ecwd_widget table td,
body .widgets-sidebar .widget.widget_ecwd_widget table th,
body .widgets-sidebar .widget.widget_ecwd_widget table tr,
body .widgets-sidebar .widget.widget_ecwd_widget table td.day-with-date,
body .widgets-sidebar .widget.widget_ecwd_widget table td.no-events {
  border: none !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd_calendar_view_dropdown {
  display: none;
}

body .widgets-sidebar .widget.widget_ecwd_widget .calendar_main .ecwd_calendar.ecwd-widget-mini {
  margin: 0;
  max-width: 320px;
}

body .widgets-sidebar .widget.widget_ecwd_widget .calendar-head.ecwd_calendar_prev_next {
  border: none;
  background-color: #1a373f !important;
  padding: 1em 2em;
}

body .widgets-sidebar .widget.widget_ecwd_widget .calendar-head.ecwd_calendar_prev_next * {
  color: #fff !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget .calendar-head.ecwd_calendar_prev_next .previous,
body .widgets-sidebar .widget.widget_ecwd_widget .calendar-head.ecwd_calendar_prev_next .next {
  border: none !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget .calendar-head.ecwd_calendar_prev_next .previous span,
body .widgets-sidebar .widget.widget_ecwd_widget .calendar-head.ecwd_calendar_prev_next .next span {
  font-size: 28px;
  font-weight: bold;
}

body .widgets-sidebar .widget.widget_ecwd_widget th.normal-day-heading,
body .widgets-sidebar .widget.widget_ecwd_widget th.weekend-heading {
  padding: 6px;
  background: #fa613f !important;
  color: #fff !important;
  font-weight: bold;
  border: 0 !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget .current-month {
  border: none !important;
}

body .widgets-sidebar .widget.widget_ecwd_widget .current-month a {
  display: none;
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-events-day-details .events {
  position: absolute;
  min-height: 30px;
  left: 0;
  right: 0;
  top: -80px;
  z-index: 98;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 21px -7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 21px -7px rgba(0, 0, 0, 0.5);
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-events-day-details .events h5 a {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-events-day-details .events .ecwd-time,
body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-events-day-details .events .ecwd-date,
body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-events-day-details .events .ecwd-detalis {
  padding: 0.6em 1em;
}

body .widgets-sidebar .widget.widget_ecwd_widget .ecwd-events-day-details .events .ecwd-detalis p {
  padding: 12px 12px;
}

body .widgets-sidebar .widget.widget_ecwd_widget .day-with-date.has-events {
  position: relative;
  z-index: 1;
  color: #fa613f !important;
  font-weight: bolder;
}

body .widgets-sidebar .widget.widget_ecwd_widget .day-with-date.has-events:hover {
  font-size: 20px !important;
}

body .widgets-sidebar .widget.widget_wpb_widget .container-fluid {
  padding: 6px 0;
}

body .widgets-sidebar .widget.widget_wpb_widget .container-fluid .row .column {
  padding: 0;
}

body .widgets-sidebar .widget.widget_wpb_widget .container-fluid .row .column * {
  text-transform: uppercase;
}

body .widgets-sidebar .widget.widget_wpb_widget .container-fluid .row .column span {
  font-size: 14px;
  -webkit-margin-start: 0.6em;
          margin-inline-start: 0.6em;
  color: #075385;
}

body .widgets-sidebar .widget.widget_wpb_widget .container-fluid .row .column i {
  color: #0b72b5;
}

@media screen and (min-width: 1820px) {
  body .widgets-sidebar .widget.widget_wpb_widget .container-fluid .row .column {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  body .widgets-sidebar .widget.widget_wpb_widget .container-fluid .row .column {
    width: 50%;
  }
}

body .navigation.pagination .current button {
  background: var(--bs-secondary);
  color: #fff;
}

body .woocommerce .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body .woocommerce .woocommerce-MyAccount-navigation ul li {
  margin-bottom: 12px;
}

body .woocommerce .woocommerce-MyAccount-navigation ul li a {
  display: block;
  color: #000;
  background: #eee;
  padding: 14px 12px;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 19px;
  position: relative;
}

body .woocommerce .woocommerce-MyAccount-navigation ul li a::after {
  content: ">";
  position: absolute;
  right: 2em;
}

body .woocommerce .woocommerce-MyAccount-content {
  height: 100%;
  background: #eee;
  padding: 10px;
  border-radius: 6px;
}

body .woocommerce-form.woocommerce-form-login.lost_reset_password, body .woocommerce-form.woocommerce-form-register.lost_reset_password,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password,
body .woocommerce.woocommerce-form-login.lost_reset_password,
body .woocommerce.woocommerce-form-register.lost_reset_password,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password {
  padding: 12px;
}

body .woocommerce-form.woocommerce-form-login.login, body .woocommerce-form.woocommerce-form-login.register, body .woocommerce-form.woocommerce-form-login.lost_reset_password, body .woocommerce-form.woocommerce-form-register.login, body .woocommerce-form.woocommerce-form-register.register, body .woocommerce-form.woocommerce-form-register.lost_reset_password,
body .woocommerce-form .woocommerce-ResetPassword.login,
body .woocommerce-form .woocommerce-ResetPassword.register,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password,
body .woocommerce.woocommerce-form-login.login,
body .woocommerce.woocommerce-form-login.register,
body .woocommerce.woocommerce-form-login.lost_reset_password,
body .woocommerce.woocommerce-form-register.login,
body .woocommerce.woocommerce-form-register.register,
body .woocommerce.woocommerce-form-register.lost_reset_password,
body .woocommerce .woocommerce-ResetPassword.login,
body .woocommerce .woocommerce-ResetPassword.register,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password {
  height: 100%;
  border: 0;
  background: var(--bs-light);
}

body .woocommerce-form.woocommerce-form-login.login label, body .woocommerce-form.woocommerce-form-login.register label, body .woocommerce-form.woocommerce-form-login.lost_reset_password label, body .woocommerce-form.woocommerce-form-register.login label, body .woocommerce-form.woocommerce-form-register.register label, body .woocommerce-form.woocommerce-form-register.lost_reset_password label,
body .woocommerce-form .woocommerce-ResetPassword.login label,
body .woocommerce-form .woocommerce-ResetPassword.register label,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password label,
body .woocommerce.woocommerce-form-login.login label,
body .woocommerce.woocommerce-form-login.register label,
body .woocommerce.woocommerce-form-login.lost_reset_password label,
body .woocommerce.woocommerce-form-register.login label,
body .woocommerce.woocommerce-form-register.register label,
body .woocommerce.woocommerce-form-register.lost_reset_password label,
body .woocommerce .woocommerce-ResetPassword.login label,
body .woocommerce .woocommerce-ResetPassword.register label,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password label {
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-margin-start: 0.2em;
          margin-inline-start: 0.2em;
}

body .woocommerce-form.woocommerce-form-login.login input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-login.login input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-login.login input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-login.login input::-webkit-input-placeholder,
body .woocommerce-form.woocommerce-form-login.login input, body .woocommerce-form.woocommerce-form-login.register input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-login.register input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-login.register input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-login.register input::-webkit-input-placeholder,
body .woocommerce-form.woocommerce-form-login.register input, body .woocommerce-form.woocommerce-form-login.lost_reset_password input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input::-webkit-input-placeholder,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input, body .woocommerce-form.woocommerce-form-register.login input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-register.login input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-register.login input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-register.login input::-webkit-input-placeholder,
body .woocommerce-form.woocommerce-form-register.login input, body .woocommerce-form.woocommerce-form-register.register input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-register.register input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-register.register input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-register.register input::-webkit-input-placeholder,
body .woocommerce-form.woocommerce-form-register.register input, body .woocommerce-form.woocommerce-form-register.lost_reset_password input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input::-webkit-input-placeholder,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input,
body .woocommerce-form .woocommerce-ResetPassword.login input:-webkit-autofill,
body .woocommerce-form .woocommerce-ResetPassword.login input:-webkit-autofill:hover,
body .woocommerce-form .woocommerce-ResetPassword.login input:-webkit-autofill:focus,
body .woocommerce-form .woocommerce-ResetPassword.login input::-webkit-input-placeholder,
body .woocommerce-form .woocommerce-ResetPassword.login input,
body .woocommerce-form .woocommerce-ResetPassword.register input:-webkit-autofill,
body .woocommerce-form .woocommerce-ResetPassword.register input:-webkit-autofill:hover,
body .woocommerce-form .woocommerce-ResetPassword.register input:-webkit-autofill:focus,
body .woocommerce-form .woocommerce-ResetPassword.register input::-webkit-input-placeholder,
body .woocommerce-form .woocommerce-ResetPassword.register input,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input::-webkit-input-placeholder,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input,
body .woocommerce.woocommerce-form-login.login input:-webkit-autofill,
body .woocommerce.woocommerce-form-login.login input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-login.login input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-login.login input::-webkit-input-placeholder,
body .woocommerce.woocommerce-form-login.login input,
body .woocommerce.woocommerce-form-login.register input:-webkit-autofill,
body .woocommerce.woocommerce-form-login.register input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-login.register input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-login.register input::-webkit-input-placeholder,
body .woocommerce.woocommerce-form-login.register input,
body .woocommerce.woocommerce-form-login.lost_reset_password input:-webkit-autofill,
body .woocommerce.woocommerce-form-login.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-login.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-login.lost_reset_password input::-webkit-input-placeholder,
body .woocommerce.woocommerce-form-login.lost_reset_password input,
body .woocommerce.woocommerce-form-register.login input:-webkit-autofill,
body .woocommerce.woocommerce-form-register.login input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-register.login input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-register.login input::-webkit-input-placeholder,
body .woocommerce.woocommerce-form-register.login input,
body .woocommerce.woocommerce-form-register.register input:-webkit-autofill,
body .woocommerce.woocommerce-form-register.register input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-register.register input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-register.register input::-webkit-input-placeholder,
body .woocommerce.woocommerce-form-register.register input,
body .woocommerce.woocommerce-form-register.lost_reset_password input:-webkit-autofill,
body .woocommerce.woocommerce-form-register.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-register.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-register.lost_reset_password input::-webkit-input-placeholder,
body .woocommerce.woocommerce-form-register.lost_reset_password input,
body .woocommerce .woocommerce-ResetPassword.login input:-webkit-autofill,
body .woocommerce .woocommerce-ResetPassword.login input:-webkit-autofill:hover,
body .woocommerce .woocommerce-ResetPassword.login input:-webkit-autofill:focus,
body .woocommerce .woocommerce-ResetPassword.login input::-webkit-input-placeholder,
body .woocommerce .woocommerce-ResetPassword.login input,
body .woocommerce .woocommerce-ResetPassword.register input:-webkit-autofill,
body .woocommerce .woocommerce-ResetPassword.register input:-webkit-autofill:hover,
body .woocommerce .woocommerce-ResetPassword.register input:-webkit-autofill:focus,
body .woocommerce .woocommerce-ResetPassword.register input::-webkit-input-placeholder,
body .woocommerce .woocommerce-ResetPassword.register input,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input::-webkit-input-placeholder,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input {
  height: 40px;
  font-size: 21px;
  border-radius: 600px;
  border: none;
  padding: 6px 16px;
  background: #eee;
  margin-bottom: 8px;
}

body .woocommerce-form.woocommerce-form-login.login input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-login.login input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-login.login input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-login.login input::placeholder,
body .woocommerce-form.woocommerce-form-login.login input, body .woocommerce-form.woocommerce-form-login.register input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-login.register input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-login.register input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-login.register input::placeholder,
body .woocommerce-form.woocommerce-form-login.register input, body .woocommerce-form.woocommerce-form-login.lost_reset_password input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input::placeholder,
body .woocommerce-form.woocommerce-form-login.lost_reset_password input, body .woocommerce-form.woocommerce-form-register.login input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-register.login input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-register.login input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-register.login input::placeholder,
body .woocommerce-form.woocommerce-form-register.login input, body .woocommerce-form.woocommerce-form-register.register input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-register.register input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-register.register input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-register.register input::placeholder,
body .woocommerce-form.woocommerce-form-register.register input, body .woocommerce-form.woocommerce-form-register.lost_reset_password input:-webkit-autofill,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input::placeholder,
body .woocommerce-form.woocommerce-form-register.lost_reset_password input,
body .woocommerce-form .woocommerce-ResetPassword.login input:-webkit-autofill,
body .woocommerce-form .woocommerce-ResetPassword.login input:-webkit-autofill:hover,
body .woocommerce-form .woocommerce-ResetPassword.login input:-webkit-autofill:focus,
body .woocommerce-form .woocommerce-ResetPassword.login input::placeholder,
body .woocommerce-form .woocommerce-ResetPassword.login input,
body .woocommerce-form .woocommerce-ResetPassword.register input:-webkit-autofill,
body .woocommerce-form .woocommerce-ResetPassword.register input:-webkit-autofill:hover,
body .woocommerce-form .woocommerce-ResetPassword.register input:-webkit-autofill:focus,
body .woocommerce-form .woocommerce-ResetPassword.register input::placeholder,
body .woocommerce-form .woocommerce-ResetPassword.register input,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input::placeholder,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password input,
body .woocommerce.woocommerce-form-login.login input:-webkit-autofill,
body .woocommerce.woocommerce-form-login.login input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-login.login input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-login.login input::placeholder,
body .woocommerce.woocommerce-form-login.login input,
body .woocommerce.woocommerce-form-login.register input:-webkit-autofill,
body .woocommerce.woocommerce-form-login.register input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-login.register input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-login.register input::placeholder,
body .woocommerce.woocommerce-form-login.register input,
body .woocommerce.woocommerce-form-login.lost_reset_password input:-webkit-autofill,
body .woocommerce.woocommerce-form-login.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-login.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-login.lost_reset_password input::placeholder,
body .woocommerce.woocommerce-form-login.lost_reset_password input,
body .woocommerce.woocommerce-form-register.login input:-webkit-autofill,
body .woocommerce.woocommerce-form-register.login input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-register.login input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-register.login input::placeholder,
body .woocommerce.woocommerce-form-register.login input,
body .woocommerce.woocommerce-form-register.register input:-webkit-autofill,
body .woocommerce.woocommerce-form-register.register input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-register.register input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-register.register input::placeholder,
body .woocommerce.woocommerce-form-register.register input,
body .woocommerce.woocommerce-form-register.lost_reset_password input:-webkit-autofill,
body .woocommerce.woocommerce-form-register.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce.woocommerce-form-register.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce.woocommerce-form-register.lost_reset_password input::placeholder,
body .woocommerce.woocommerce-form-register.lost_reset_password input,
body .woocommerce .woocommerce-ResetPassword.login input:-webkit-autofill,
body .woocommerce .woocommerce-ResetPassword.login input:-webkit-autofill:hover,
body .woocommerce .woocommerce-ResetPassword.login input:-webkit-autofill:focus,
body .woocommerce .woocommerce-ResetPassword.login input::placeholder,
body .woocommerce .woocommerce-ResetPassword.login input,
body .woocommerce .woocommerce-ResetPassword.register input:-webkit-autofill,
body .woocommerce .woocommerce-ResetPassword.register input:-webkit-autofill:hover,
body .woocommerce .woocommerce-ResetPassword.register input:-webkit-autofill:focus,
body .woocommerce .woocommerce-ResetPassword.register input::placeholder,
body .woocommerce .woocommerce-ResetPassword.register input,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:hover,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input:-webkit-autofill:focus,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input::placeholder,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password input {
  height: 40px;
  font-size: 21px;
  border-radius: 600px;
  border: none;
  padding: 6px 16px;
  background: #eee;
  margin-bottom: 8px;
}

body .woocommerce-form.woocommerce-form-login.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme, body .woocommerce-form.woocommerce-form-login.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme, body .woocommerce-form.woocommerce-form-login.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme, body .woocommerce-form.woocommerce-form-register.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme, body .woocommerce-form.woocommerce-form-register.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme, body .woocommerce-form.woocommerce-form-register.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce-form .woocommerce-ResetPassword.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce-form .woocommerce-ResetPassword.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce.woocommerce-form-login.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce.woocommerce-form-login.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce.woocommerce-form-login.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce.woocommerce-form-register.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce.woocommerce-form-register.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce.woocommerce-form-register.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce .woocommerce-ResetPassword.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce .woocommerce-ResetPassword.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .woocommerce-form.woocommerce-form-login.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form.woocommerce-form-login.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"], body .woocommerce-form.woocommerce-form-login.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form.woocommerce-form-login.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"], body .woocommerce-form.woocommerce-form-login.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form.woocommerce-form-login.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"], body .woocommerce-form.woocommerce-form-register.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form.woocommerce-form-register.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"], body .woocommerce-form.woocommerce-form-register.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form.woocommerce-form-register.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"], body .woocommerce-form.woocommerce-form-register.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form.woocommerce-form-register.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce-form .woocommerce-ResetPassword.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form .woocommerce-ResetPassword.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce-form .woocommerce-ResetPassword.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form .woocommerce-ResetPassword.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce.woocommerce-form-login.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce.woocommerce-form-login.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce.woocommerce-form-login.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce.woocommerce-form-login.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce.woocommerce-form-login.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce.woocommerce-form-login.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce.woocommerce-form-register.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce.woocommerce-form-register.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce.woocommerce-form-register.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce.woocommerce-form-register.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce.woocommerce-form-register.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce.woocommerce-form-register.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce .woocommerce-ResetPassword.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce .woocommerce-ResetPassword.login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce .woocommerce-ResetPassword.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce .woocommerce-ResetPassword.register .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"],
body .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="text"],
body .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme input[type="password"] {
  margin: 10px 0;
  margin-right: 10px;
  letter-spacing: 1px;
}

body .woocommerce-form.woocommerce-form-login.login .woocommerce-form__input-checkbox, body .woocommerce-form.woocommerce-form-login.register .woocommerce-form__input-checkbox, body .woocommerce-form.woocommerce-form-login.lost_reset_password .woocommerce-form__input-checkbox, body .woocommerce-form.woocommerce-form-register.login .woocommerce-form__input-checkbox, body .woocommerce-form.woocommerce-form-register.register .woocommerce-form__input-checkbox, body .woocommerce-form.woocommerce-form-register.lost_reset_password .woocommerce-form__input-checkbox,
body .woocommerce-form .woocommerce-ResetPassword.login .woocommerce-form__input-checkbox,
body .woocommerce-form .woocommerce-ResetPassword.register .woocommerce-form__input-checkbox,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__input-checkbox,
body .woocommerce.woocommerce-form-login.login .woocommerce-form__input-checkbox,
body .woocommerce.woocommerce-form-login.register .woocommerce-form__input-checkbox,
body .woocommerce.woocommerce-form-login.lost_reset_password .woocommerce-form__input-checkbox,
body .woocommerce.woocommerce-form-register.login .woocommerce-form__input-checkbox,
body .woocommerce.woocommerce-form-register.register .woocommerce-form__input-checkbox,
body .woocommerce.woocommerce-form-register.lost_reset_password .woocommerce-form__input-checkbox,
body .woocommerce .woocommerce-ResetPassword.login .woocommerce-form__input-checkbox,
body .woocommerce .woocommerce-ResetPassword.register .woocommerce-form__input-checkbox,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form__input-checkbox {
  width: 20px;
  height: 20px;
  margin: 1em 0;
  margin-right: 10px;
}

body .woocommerce-form.woocommerce-form-login.login .woocommerce-LostPassword.lost_password, body .woocommerce-form.woocommerce-form-login.register .woocommerce-LostPassword.lost_password, body .woocommerce-form.woocommerce-form-login.lost_reset_password .woocommerce-LostPassword.lost_password, body .woocommerce-form.woocommerce-form-register.login .woocommerce-LostPassword.lost_password, body .woocommerce-form.woocommerce-form-register.register .woocommerce-LostPassword.lost_password, body .woocommerce-form.woocommerce-form-register.lost_reset_password .woocommerce-LostPassword.lost_password,
body .woocommerce-form .woocommerce-ResetPassword.login .woocommerce-LostPassword.lost_password,
body .woocommerce-form .woocommerce-ResetPassword.register .woocommerce-LostPassword.lost_password,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password .woocommerce-LostPassword.lost_password,
body .woocommerce.woocommerce-form-login.login .woocommerce-LostPassword.lost_password,
body .woocommerce.woocommerce-form-login.register .woocommerce-LostPassword.lost_password,
body .woocommerce.woocommerce-form-login.lost_reset_password .woocommerce-LostPassword.lost_password,
body .woocommerce.woocommerce-form-register.login .woocommerce-LostPassword.lost_password,
body .woocommerce.woocommerce-form-register.register .woocommerce-LostPassword.lost_password,
body .woocommerce.woocommerce-form-register.lost_reset_password .woocommerce-LostPassword.lost_password,
body .woocommerce .woocommerce-ResetPassword.login .woocommerce-LostPassword.lost_password,
body .woocommerce .woocommerce-ResetPassword.register .woocommerce-LostPassword.lost_password,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-LostPassword.lost_password {
  padding: 10px 0px;
}

body .woocommerce-form.woocommerce-form-login.login .woocommerce-LostPassword.lost_password a, body .woocommerce-form.woocommerce-form-login.register .woocommerce-LostPassword.lost_password a, body .woocommerce-form.woocommerce-form-login.lost_reset_password .woocommerce-LostPassword.lost_password a, body .woocommerce-form.woocommerce-form-register.login .woocommerce-LostPassword.lost_password a, body .woocommerce-form.woocommerce-form-register.register .woocommerce-LostPassword.lost_password a, body .woocommerce-form.woocommerce-form-register.lost_reset_password .woocommerce-LostPassword.lost_password a,
body .woocommerce-form .woocommerce-ResetPassword.login .woocommerce-LostPassword.lost_password a,
body .woocommerce-form .woocommerce-ResetPassword.register .woocommerce-LostPassword.lost_password a,
body .woocommerce-form .woocommerce-ResetPassword.lost_reset_password .woocommerce-LostPassword.lost_password a,
body .woocommerce.woocommerce-form-login.login .woocommerce-LostPassword.lost_password a,
body .woocommerce.woocommerce-form-login.register .woocommerce-LostPassword.lost_password a,
body .woocommerce.woocommerce-form-login.lost_reset_password .woocommerce-LostPassword.lost_password a,
body .woocommerce.woocommerce-form-register.login .woocommerce-LostPassword.lost_password a,
body .woocommerce.woocommerce-form-register.register .woocommerce-LostPassword.lost_password a,
body .woocommerce.woocommerce-form-register.lost_reset_password .woocommerce-LostPassword.lost_password a,
body .woocommerce .woocommerce-ResetPassword.login .woocommerce-LostPassword.lost_password a,
body .woocommerce .woocommerce-ResetPassword.register .woocommerce-LostPassword.lost_password a,
body .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-LostPassword.lost_password a {
  color: var(--bs-primary);
}

body .woocommerce-form .woocommerce-ordering,
body .woocommerce .woocommerce-ordering {
  padding: 16px 0;
}

body .woocommerce-form .woocommerce-ordering .orderby,
body .woocommerce .woocommerce-ordering .orderby {
  background: #eee;
  border: 0;
  outline: none;
  padding: 8px;
  border-radius: 633px;
  position: relative;
  font-weight: 600;
}

body .woocommerce-form .products li.product,
body .woocommerce .products li.product {
  margin: 0;
  -webkit-margin-end: 1em;
          margin-inline-end: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  background: #eee;
  border-radius: 12px;
  overflow: hidden;
  width: 160px;
}

body .woocommerce-form .products li.product a,
body .woocommerce .products li.product a {
  display: block;
}

body .woocommerce-form .products li.product a:hover,
body .woocommerce .products li.product a:hover {
  text-decoration: none !important;
}

body .woocommerce-form .products li.product a .woocommerce-loop-product__title,
body .woocommerce .products li.product a .woocommerce-loop-product__title {
  text-align: center;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
}

body .woocommerce-form .products li.product a span.price,
body .woocommerce .products li.product a span.price {
  text-align: center;
  display: block;
  font-size: 18px;
  color: #000;
}

body .woocommerce-form .products li.product a span.price ins,
body .woocommerce .products li.product a span.price ins {
  text-decoration: none;
}

body .woocommerce-form .products li.product .add_to_cart_button,
body .woocommerce .products li.product .add_to_cart_button {
  width: 80%;
  margin: 1.2em auto;
  background: var(--bs-secondary);
  color: var(--bs-light);
  font-size: 11px;
  position: relative;
  padding: 14px 16px;
  z-index: 30;
  border-radius: 600px;
}

body .woocommerce-form .products li.product .add_to_cart_button:hover,
body .woocommerce .products li.product .add_to_cart_button:hover {
  background: #26ace3;
}

body .woocommerce-form .products li.product .add_to_cart_button::after,
body .woocommerce .products li.product .add_to_cart_button::after {
  content: "+";
  position: absolute;
  right: 16px;
  font-size: 26px;
  font-weight: bold;
  bottom: 8px;
}

body .woocommerce-form .products li.product .add_to_cart_button:hover::after,
body .woocommerce .products li.product .add_to_cart_button:hover::after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body .woocommerce-form .products li.product .onsale,
body .woocommerce .products li.product .onsale {
  top: unset;
  bottom: 27%;
  right: 10%;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0 3px 11px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 11px 1px rgba(0, 0, 0, 0.3);
}

body .woocommerce-form .products li.product .added_to_cart,
body .woocommerce .products li.product .added_to_cart {
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  position: absolute;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.955);
  display: block;
  color: #fff;
  width: 100%;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  font-size: 32px;
  text-decoration: overline;
}

body .h-100 {
  height: 100%;
}

body .searchform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */