html {
  margin-top: 0 !important;
  margin: 0 !important;
}
body {
  &.overflow-hidden {
    overflow: hidden;
  }
  .sm-header-holder {
    .nav-toggle-holder {
      display: none;
    }
  }
  @media screen and (max-width: 1196px) {
    .site-header {
      position: fixed !important;
      left: 0;
      right: 0;
    }
    .sm-header-holder {
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      .nav-toggle-holder {
        display: block;
        .navigation-toggle {
          font-size: 30px;
        }
      }
      .content {
        margin-inline-start: 1em;
      }
    }
  }
  .sm-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .close-holder {
      padding: 0 20px;
      justify-content: flex-end;
      display: flex;
      .close {
        font-size: 56px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }
    }
    ul {
      padding-inline-start: 0;
      list-style-type: none;
      li {
        padding: 16px 0;
        a {
          font-size: 32px;
          color: #fff;
        }
      }
    }
  }

  .app-start {
    .main-row {
      .main-col-1 {
        .site-side {
          overflow-y: auto;
          position: sticky;
          top: 0;
          background: #c8d6e1;
          height: 100vh;
          flex-direction: column;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .site-desc {
            color: #213141 !important;
          }
          .font-weight-bold {
            font-weight: bolder;
          }
          * {
            color: #f5fdfe;
          }
          .site-icon-disp {
            margin: 15px 0;
            max-height: 150px;
            max-width: 150px;
            min-height: 150px;
            min-width: 150px;
            background: #fff;
            border-radius: 50%;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .menu {
            padding: 2em 0;
            ul {
              display: block;
              list-style-type: none;
              margin-block-start: 0;
              margin-block-end: 0;
              padding-inline-start: 0;
              list-style-type: none;
              li {
                $color: #213141;
                &:hover,
                &.current_page_item {
                  button {
                    background-image: -webkit-linear-gradient(
                      45deg,
                      rgba(0, 0, 0, 0.2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(0, 0, 0, 0.2) 50%,
                      rgba(0, 0, 0, 0.2) 75%,
                      transparent 75%,
                      transparent
                    );
                    color: var(--bs-light);
                    font-weight: bolder;
                    background-color: $color;
                  }
                }
                button {
                  color: $color;
                  border-color: $color !important;
                }
              }
            }
          }
        }
      }
      .main-col-2 {
        .posts-holder {
          @media screen and (max-width: 600px) {
            padding: 1em !important;
          }
        }
      }
      @media (min-width: 1200px) {
        .main-col-1 {
          width: 23%;
        }
        .main-col-2 {
          width: 77%;
        }
      }
      @media (min-width: 1820px) {
        .main-col-1 {
          width: 16.6666666667%;
        }
        .main-col-2 {
          width: 83.3333333333%;
        }
      }
      @media (max-width: 1194px) {
        .main-col-1 {
          position: fixed;
          .site-side {
            transform: translate(-100%);
          }
        }
      }
    }
  }
  overflow-x: hidden;
  .min-height-100 {
    min-height: 100vh;
  }
  .site-main {
    @media screen and (max-width: 1196px) {
      padding-top: 5em !important;
    }
  }
  .site-content {
    background: #fff;
    @media screen and (min-width: 1196px) {
      &.container-fluid {
        padding: 0 !important;
      }
    }
  }
  .site-header {
    position: sticky;
    top: 0;
    background: #fafafa;
    z-index: 999;
    .container {
      h5 {
        color: #32181d;
      }
      p {
        color: #8a8987;
      }
    }
    @media screen and (max-width: 600px) {
      padding-bottom: 0 !important;
      padding-top: 0.6em !important;
      .searchform {
        display: none;
      }
      .content {
        p {
          display: none;
        }
      }
      .site-desc {
        display: none;
      }
    }
  }
  .searchform {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .site-footer {
    background: #213141;
    text-align: center;
    color: #6c757d;
    padding: 1em 2em;
    ul {
      padding-inline-start: 0;
      list-style-type: none;
      li {
        display: inline-block;
        a {
          color: #6c757d;
        }
        &:after {
          content: " | ";
          display: inline-block;
          margin-inline-start: 0.2em;
          margin-inline-end: 0.2em;
        }
        &:last-child {
          &::after {
            content: none;
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .post-entry {
    * {
      transition: all 0.3s ease-in-out;
    }
    .bg-white {
      .rounded {
        border-radius: 3px;
      }
      overflow: hidden;
    }
    .row {
      padding: 0.6em;
      .container-image-holder {
        border-radius: 3px;
        overflow: hidden;
        height: 100%;
        width: 100%;
        min-height: 139px;
        border: 0.5em solid #fff;
        @media screen and (min-width: 1196px) {
          border-left-width: 1em;
        }
        .image {
          background-size: cover;
          background-position: 50% 50%;
          transform: scale(1);
          height: 100%;
          width: 100%;
          border-radius: 3px;
        }
      }
      h6 {
        color: #075385;
      }
    }
    &:hover {
      .row {
        .container-image-holder {
          .image {
            transform: scale(1.3);
          }
        }
      }
    }
  }
  .rounded-circle {
    border-radius: 50%;
    &.icon {
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
      font-size: 21px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .widgets-sidebar {
    .widget {
      &.SP_News_Widget {
        .newspost-title {
          font-size: 18px;
          color: #000;
        }
      }
      &:last-of-type {
        position: sticky;
        top: 10%;
      }
      position: relative;
      padding: 1.5em 0;
      h2.widget-title {
        font-size: 21px;
        padding: 0.6em 0em;
      }
      ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-inline-start: 0;
      }
      .ecwd-widget-19 {
        overflow: hidden;
        border-radius: 7px;
      }
      &.widget_ecwd_widget {
        .ecwd-widget-mini.ecwd_calendar {
          width: 100%;
        }
        * {
          font-family: "Rubik", sans-serif !important;
        }
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .normal-day-heading,
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .weekend-heading,
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .day-with-date {
          border: none !important;
          font-weight: bold;
        }
        * {
          border: none !important;
        }
        table {
          border: 1px solid #ccc;
          border-collapse: collapse;
          td,
          th,
          tr,
          td.day-with-date,
          td.no-events {
            border: none !important;
          }
        }
        border-radius: 6px;
        .ecwd_calendar_view_dropdown {
          display: none;
        }
        .calendar_main .ecwd_calendar.ecwd-widget-mini {
          margin: 0;
          max-width: 320px;
        }
        .calendar-head.ecwd_calendar_prev_next {
          border: none;
          background-color: #1a373f !important;
          padding: 1em 2em;
          * {
            color: #fff !important;
          }
          .previous,
          .next {
            span {
              font-size: 28px;
              font-weight: bold;
            }
            border: none !important;
          }
        }
        th.normal-day-heading,
        th.weekend-heading {
          padding: 6px;
          background: #fa613f !important;
          color: #fff !important;
          font-weight: bold;
          border: 0 !important;
        }
        .current-month {
          a {
            display: none;
          }
          border: none !important;
        }
        .ecwd-events-day-details {
          .events {
            position: absolute;
            min-height: 30px;
            left: 0;
            right: 0;
            top: -80px;
            z-index: 98;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 8px 21px -7px rgba(0, 0, 0, 0.5);
            h5 {
              a {
                font-size: 32px;
                font-weight: bold;
                text-decoration: none;
              }
            }
            .ecwd-time,
            .ecwd-date,
            .ecwd-detalis {
              padding: 0.6em 1em;
            }

            .ecwd-detalis {
              p {
                padding: 12px 12px;
              }
            }
          }
        }
        .day-with-date {
          &.has-events {
            position: relative;
            z-index: 1;
            color: #fa613f !important;
            font-weight: bolder;
            &:hover {
              font-size: 20px !important;
            }
          }
        }
      }
      &.widget_wpb_widget {
        .container-fluid {
          padding: 0;
          .row {
            .column {
              padding: 6px 0;
              * {
                text-transform: uppercase;
              }
              span {
                font-size: 14px;
                margin-inline-start: 0.6em;
                color: #075385;
              }
              i {
                color: #0b72b5;
              }
              @media screen and (min-width: 1820px) {
                width: 50%;
              }
              @media screen and (max-width: 992px) {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  .navigation.pagination {
    button {
      border-color: #213141;
      &:hover {
        background-color: #213141;
      }
    }
    .current {
      button {
        background: #213141;
        color: #fff;
        border: #213141;
      }
    }
  }
  .woocommerce {
    .woocommerce-MyAccount-navigation {
      ul {
        list-style-type: none;
        padding-inline-start: 0;
        li {
          margin-bottom: 12px;
          a {
            display: block;
            color: #000;
            background: #eee;
            padding: 14px 12px;
            border-radius: 6px;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 19px;
            position: relative;
            &::after {
              content: ">";
              position: absolute;
              right: 2em;
            }
          }
        }
      }
    }
    .woocommerce-MyAccount-content {
      height: 100%;
      background: #eee;
      padding: 10px;
      border-radius: 6px;
    }
  }
  .woocommerce-form,
  .woocommerce {
    .input-text#coupon_code {
      width: 200px !important;
    }
    .woocommerce-cart-form__cart-item {
      input {
        min-height: 40px;
        font-size: 18px;
        border-radius: 600px;
        border: none;
        padding: 6px 16px;
        background: #eee;
        margin-bottom: 8px;
        font-weight: bold;
      }
    }
    &.woocommerce-form-login,
    &.woocommerce-form-register,
    .woocommerce-ResetPassword,
    .woocommerce-checkout {
      &.lost_reset_password {
        padding: 12px;
      }
      #order_review_heading {
        padding: 2em 0 0 0;
      }
      .select2-selection__arrow {
        right: 10px;
        top: 6px;
      }
      &.login,
      &.register,
      &.lost_reset_password,
      .woocommerce-billing-fields,
      .woocommerce-additional-fields,
      .woocommerce-checkout-review-order {
        padding: 1em;
        height: 100%;
        border: 0;
        background: var(--bs-light);
        label {
          font-weight: bold;
          letter-spacing: 1px;
          margin-inline-start: 0.2em;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input::placeholder,
        input,
        textarea,
        .select2-selection {
          min-height: 40px;
          font-size: 21px;
          border-radius: 600px;
          border: none;
          padding: 6px 16px;
          background: #eee;
          margin-bottom: 8px;
        }
        textarea {
          border-radius: 2px;
        }
        .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input[type="text"],
          input[type="password"] {
            margin: 10px 0;
            margin-right: 10px;
            letter-spacing: 1px;
          }
        }
        .woocommerce-form__input-checkbox {
          width: 20px;
          height: 20px;
          margin: 1em 0;
          margin-right: 10px;
        }
        .woocommerce-LostPassword.lost_password {
          padding: 10px 0px;
          a {
            color: var(--bs-primary);
          }
        }
      }
    }
    .woocommerce-ordering {
      padding: 16px 0;
      .orderby {
        background: #eee;
        border: 0;
        outline: none;
        padding: 8px;
        border-radius: 633px;
        position: relative;
        font-weight: 600;
      }
    }
    .products {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      li {
        border-radius: 12px;
        max-width: 400px;
        &.product {
          box-shadow: 0 5px 9.6px 0px rgba(0, 0, 0, 0.3);
          margin: 1em !important;
          background: #eee;
          overflow: hidden;
          @media screen and (max-width: 752px) {
            width: 100% !important;
            margin: 1em 0 !important;
            position: relative !important;
            a {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 0 !important;
              img {
                height: 100%;
                width: 100px;
                margin: 0 !important;
              }
              .woocommerce-loop-product__title {
                font-size: 21px;
                color: #000;
                font-weight: bold;
                position: absolute;
                top: 10px;
                left: 110px;
                right: 0;
                min-height: 100%;
              }
              &.add_to_cart_button {
                width: 120px;
                margin: 1.2em auto;
                background: var(--bs-secondary);
                color: var(--bs-light);
                font-size: 11px;
                position: absolute !important;
                right: 10px;
                bottom: 10px;
                &:hover {
                  background: #26ace3;
                }
                &::after {
                  content: "+";
                  position: absolute;
                  right: 16px;
                  font-size: 26px;
                  font-weight: bold;
                  bottom: 8px;
                }
                padding: 14px 16px;
                z-index: 30;
                &:hover {
                  &::after {
                    transform: rotate(360deg);
                    transition: all 0.6s ease;
                  }
                }
                border-radius: 600px;
              }
              span {
                &.onsale {
                  top: 70%;
                  right: unset;
                  left: 10px;
                  height: 25px;
                  width: 25px;
                  font-size: 10px;
                }
                &.price {
                  position: absolute;
                  left: 110px;
                  bottom: 6px;
                  top: unset;
                  font-size: 18px;
                  color: #000;
                }
              }
              &.added_to_cart {
                transition: all 0.3 ease-in-out;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                color: #fff;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 98;
                font-size: 24px;
                text-decoration: overline;
                top: 0;
                left: 0;
                bottom: 0;
                &:hover {
                  font-weight: bolder;
                  letter-spacing: 1px;
                  text-decoration: underline;
                }
              }
            }
          }
          @media screen and (min-width: 753px) {
            min-height: 470px;
            @media (min-width: 753px) and (max-width: 766px) {
              width: calc((100% / 2) - 32px) !important;
              &:nth-child(4n) {
                margin-right: 0;
              }
            }
            @media (min-width: 766px) and (max-width: 1500px) {
              width: calc((100% / 3) - 34px) !important;
              &:nth-child(4n) {
                margin-right: 0;
              }
              &:nth-child(3n) {
                margin-right: 1em !important;
              }
            }
            @media (min-width: 1500px) {
              width: calc((100% / 5) - 34px) !important;
              &:nth-child(5n) {
                margin-right: 0;
              }
              &:nth-child(4n) {
                margin-right: 1em !important;
              }
            }
            a {
              display: block;
              &:hover {
                text-decoration: none !important;
              }
              .woocommerce-loop-product__title {
                text-align: center;
                font-size: 18px;
                color: #000;
                letter-spacing: 1px;
                font-weight: bold;
              }
              span {
                &.price {
                  text-align: center;
                  display: block;
                  font-size: 18px;
                  color: #000;
                  ins {
                    text-decoration: none;
                  }
                }
              }
              img {
                height: 315px;
              }
            }
            .add_to_cart_button {
              width: 80%;
              margin: 1.2em auto;
              background: var(--bs-secondary);
              color: var(--bs-light);
              font-size: 11px;
              position: relative;
              bottom: 0;
              &:hover {
                background: #26ace3;
              }
              position: relative;
              &::after {
                content: "+";
                position: absolute;
                right: 16px;
                font-size: 26px;
                font-weight: bold;
                bottom: 8px;
              }
              padding: 14px 16px;
              z-index: 30;
              &:hover {
                &::after {
                  transform: rotate(360deg);
                  transition: all 0.6s ease;
                }
              }
              border-radius: 600px;
            }
            .onsale {
              top: 296px;
              right: 10%;
              height: 50px;
              width: 50px;
              z-index: 99;
            }
            .added_to_cart {
              transition: all 0.3 ease-in-out;
              position: absolute;
              background: rgba(0, 0, 0, 0.4);
              display: block;
              color: #fff;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 98;
              font-size: 24px;
              text-decoration: overline;
              top: 0;
              right: 0;
              left: 0;
              bottom: unset;
              height: 315px;
              &:hover {
                font-weight: bolder;
                letter-spacing: 1px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .single-product {
      .product {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .summary.entry-summary {
          padding: 0 60px;
          .price {
            font-weight: bold;
            color: #000;
            ins {
              text-decoration: none;
            }
          }
          .input-text.qty.text {
            background: #eee;
            border: 0;
            border-radius: 3px;
            padding: 6px 8px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .h-100 {
    height: 100%;
  }
  .searchform {
    display: flex;
    width: 100%;
  }
}
