html {
  margin-top: 0 !important;
  margin: 0 !important;
}
body {
  .app-start {
    .main-row {
      .main-col-1 {
        .site-side {
          overflow-y: auto;
          position: sticky;
          top: 0;
          background: #c8d6e1;
          height: 100vh;
          flex-direction: column;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .font-weight-bold {
            font-weight: bolder;
          }
          * {
            color: #f5fdfe;
          }
          .site-icon-disp {
            margin: 15px 0;
            min-height: 150px;
            min-width: 150px;
            background: #fff;
            border-radius: 50%;
          }
          .menu {
            padding: 2em 0;
            ul {
              display: block;
              list-style-type: none;
              margin-block-start: 0;
              margin-block-end: 0;
              padding-inline-start: 0;
              list-style-type: none;
              li {
                &:hover,
                &.current_page_item {
                  button {
                    background-image: -webkit-linear-gradient(
                      45deg,
                      rgba(0, 0, 0, 0.2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(0, 0, 0, 0.2) 50%,
                      rgba(0, 0, 0, 0.2) 75%,
                      transparent 75%,
                      transparent
                    );
                    color: var(--bs-light);
                    font-weight: bolder;
                    background-color: var(--bs-secondary);
                  }
                }
                button {
                  color: var(--bs-secondary);
                }
              }
            }
          }
        }
      }
      @media (min-width: 1200px) {
        .main-col-1 {
          width: 25%;
        }
        .main-col-2 {
          width: 75%;
        }
      }
      @media (min-width: 1820px) {
        .main-col-1 {
          width: 16.6666666667%;
        }
        .main-col-2 {
          width: 83.3333333333%;
        }
      }
      @media (max-width: 1000px) {
        .main-col-1 {
          position: fixed;
          .site-side {
            transform: translate(-100%);
          }
        }
      }
    }
  }
  overflow-x: hidden;
  .min-height-100 {
    min-height: 100vh;
  }
  //background: #333;
  margin: 3;
  .site-content {
    background: #fff;
  }
  .site-header {
    position: sticky;
    top: 0;
    background: #fafafa;
    z-index: 99;
    .container {
      h5 {
        color: #32181d;
      }
      p {
        color: #8a8987;
      }
    }
  }
  .searchform {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .site-footer {
    background: #9ab9ca;
    text-align: center;
    color: #697b7d;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .post-entry {
    * {
      transition: all 0.3s ease-in-out;
    }
    .bg-white {
      .rounded {
        border-radius: 3px;
      }
      overflow: hidden;
    }
    .row {
      .container-image-holder {
        overflow: hidden;
        height: 100%;
        width: 100%;
        .image {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: 50% 50%;
          transform: scale(1.6);
        }
      }
    }
    &:hover {
      .row {
        .container-image-holder {
          .image {
            transform: scale(1);
          }
        }
      }
    }
  }
  .rounded-circle {
    border-radius: 50%;

    &.icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
    }
  }
  .widgets-sidebar {
    .widget {
      position: relative;
      padding: 1.5em 0;
      h2.widget-title {
        font-size: 21px;
        padding: 0.6em 0em;
      }
      ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-inline-start: 0;
      }
      .ecwd-widget-19 {
        overflow: hidden;
        border-radius: 7px;
      }
      &.widget_ecwd_widget {
        * {
          font-family: "Rubik", sans-serif !important;
        }
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .normal-day-heading,
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .weekend-heading,
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .day-with-date {
          border: none !important;
          font-weight: bold;
        }
        * {
          border: none !important;
        }
        table {
          border: 1px solid #ccc;
          border-collapse: collapse;
          td,
          th,
          tr {
            border: none;
          }
        }
        border-radius: 6px;
        .ecwd_calendar_view_dropdown {
          display: none;
        }
        .calendar-head.ecwd_calendar_prev_next {
          border: none;
          background-color: #1a373f !important;
          padding: 1em 2em;
          * {
            color: #fff !important;
          }
          .previous,
          .next {
            span {
              font-size: 28px;
              font-weight: bold;
            }
            border: none !important;
          }
        }
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .normal-day-heading,
        .ecwd_theme_calendar
          table.cal_blue.ecwd_calendar_container
          .weekend-heading {
          padding: 6px;
          background: #fa613f !important;
          color: #fff !important;
          font-weight: bold;
        }
        .current-month {
          a {
            display: none;
          }
          border: none !important;
        }
        .ecwd-events-day-details {
          .events {
            position: absolute;
            min-height: 30px;
            left: 0;
            right: 0;
            top: -50px;
            z-index: 98;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 8px 21px -7px rgba(0, 0, 0, 0.5);
            h5 {
              a {
                font-size: 32px;
                font-weight: bold;
                text-decoration: none;
              }
            }
            .ecwd-time,
            .ecwd-date,
            .ecwd-detalis {
              padding: 0.6em 1em;
            }

            .ecwd-detalis {
              p {
                padding: 12px 12px;
              }
            }
          }
        }
      }
      &.widget_wpb_widget {
        .container-fluid {
          .row {
            .column {
              * {
                color: var(--bs-secondary);
              }
              @media screen and (min-width: 1820px) {
                width: 50%;
              }
              @media screen and (max-width: 992px) {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  .navigation.pagination {
    .current {
      button {
        background: var(--bs-secondary);
        color: #fff;
      }
    }
  }
}
